@keyframes zs-flip-enter {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
  }

  70% {
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }

  to {
    transform: perspective(400px);
  }
}

.zs-flip-enter {
  animation: zs-flip-enter both ease-in;
  backface-visibility: visible !important;
}

@keyframes zs-flip-leave {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
  }
}

.zs-flip-leave {
  animation: zs-flip-leave both;
  backface-visibility: visible !important;
}
