@keyframes zs-moveUp-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.zs-moveUp-enter {
  animation: zs-moveUp-enter both ease-in;
}

@keyframes zs-moveUp-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100%, 0);
  }
}

.zs-moveUp-leave {
  animation: zs-moveUp-leave both ease-out;
}

@keyframes zs-moveDown-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.zs-moveDown-enter {
  animation: zs-moveDown-enter both ease-in;
}

@keyframes zs-moveDown-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -100%, 0);
  }
}

.zs-moveDown-leave {
  animation: zs-moveDown-leave both ease-out;
}

@keyframes zs-moveLeft-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.zs-moveLeft-enter {
  animation: zs-moveLeft-enter both ease-in;
}

@keyframes zs-moveLeft-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

.zs-moveLeft-leave {
  animation: zs-moveLeft-leave both ease-out;
}

@keyframes zs-moveRight-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.zs-moveRight-enter {
  animation: zs-moveRight-enter both ease-in;
}

@keyframes zs-moveRight-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.zs-moveRight-leave {
  animation: zs-moveRight-leave both ease-out;
}
