@keyframes zs-scaleDown-enter {
  from {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(.8);
  }

  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}

.zs-scaleDown-enter {
  animation: zs-scaleDown-enter both;
}

@keyframes zs-scaleDown-leave {
  from {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }

  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(.8);
  }
}

.zs-scaleDown-leave {
  animation: zs-scaleDown-leave both;
}
