@keyframes zs-slideUp-enter {
  from {
    transform: translate3d(0, 100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.zs-slideUp-enter {
  animation: zs-slideUp-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes zs-slideUp-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100px, 0);
  }
}

.zs-slideUp-leave {
  animation: zs-slideUp-leave both;
}

@keyframes zs-slideDown-enter {
  from {
    transform: translate3d(0, -100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.zs-slideDown-enter {
  animation: zs-slideDown-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes zs-slideDown-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -100px, 0);
  }
}

.zs-slideDown-leave {
  animation: zs-slideDown-leave both;
}

@keyframes zs-slideLeft-enter {
  from {
    transform: translate3d(150px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.zs-slideLeft-enter {
  animation: zs-slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes zs-slideLeft-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(150px, 0, 0);
  }
}

.zs-slideLeft-leave {
  animation: zs-slideLeft-leave both;
}

@keyframes zs-slideRight-enter {
  from {
    transform: translate3d(-150px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.zs-slideRight-enter {
  animation: zs-slideRight-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes zs-slideRight-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-150px, 0, 0);
  }
}

.zs-slideRight-leave {
  animation: zs-slideRight-leave both;
}
