.zw-menu-item {
  .chinese {
    margin-left: 6px;
    opacity: .5;
  }
}

.zw-menu-item-group__list {
  .zw-menu-item {
    padding-left: 36px !important;
  }
  .zw-menu-item:hover {
    color: #2f54ec !important;
  }
  .zw-menu-item--active {
    color: #2f54ec !important;
    background: rgba(47, 84, 236, 0.1) !important;
  }
}
